// this is for finding ASVs with liveness-analysis
bool g_wt_keeped = false; 
// TODO: enable it for biRISCV
bool g_special_equal_taint = false; 
// set the read flag only if reg's value is not reset value
bool g_set_rflag_if_not_rst_val = true;  // TODO: usually enable it 
// TODO: enable it for biRISCV
bool g_set_rflag_if_not_norm_val = false; 
// TODO: seems problematic, be careful when considering enable it
// Disable for 8051
bool g_use_does_keep = false;  
// enable this to only check if reg's value is invariant when instruction finished
CheckInvarType g_check_invariance = CheckRst; // TODO: check this setting
// TODO: g_enable_taint set to false when only checking invariance
// (Used when checking for invariant registers to replace ASVs)
bool g_enable_taint = true;
// if is true, "assert()" will be generated for jaspergold to check
// otherwise, a verilog assert module will be generated for simulation-based check
bool g_use_jasper = true;

